extends layout

block content
  -data = data || {}

  

  form(action="/login" method="POST" class="form-registration")
    

    label(for="email") Email:
    input(
      type="email"
      id="email"
      name="email"
      class="form-control"
      
    )


    label(for="password") Password:
    input(
      type="password"
      id="password"
      name="password"
      class="form-control"
      
    )
    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )
